In [1]:
import pandas as pd

stations = pd.read_csv('../Data/allstations_processed.csv')

In [2]:
stations.head()

,dock_id,dock_name,date,hour,minute,avail_bikes,avail_docks,tot_docks,_lat,_long,depletion_status,time,dayofweek,season
0,116,W 17 St & 8 Ave,2015-04-02,14,30,5,32,32,40.741776,-74.001497,Empty Risk,14:30,3,spring
1,116,W 17 St & 8 Ave,2015-04-02,15,0,1,36,36,40.741776,-74.001497,Empty Risk,15:00,3,spring
2,116,W 17 St & 8 Ave,2015-04-02,15,0,2,35,35,40.741776,-74.001497,Empty Risk,15:00,3,spring
3,116,W 17 St & 8 Ave,2015-04-02,15,0,3,34,34,40.741776,-74.001497,Empty Risk,15:00,3,spring
4,116,W 17 St & 8 Ave,2015-04-02,15,30,2,35,35,40.741776,-74.001497,Empty Risk,15:30,3,spring

In [3]:
reduced = stations[['dock_id', '_lat', '_long', 'depletion_status']]

In [4]:
reduced.isnull().sum()

dock_id             0
_lat                0
_long               0
depletion_status    0
dtype: int64

In [ ]:
reduced.groupby('dock_id').agg(pd.Series.mode).isnull().sum()#to_csv('', index = False)